header {
    padding-left: 3%;
    padding-right: 3%;
    margin-left: 23%;
    margin-right: 23%;
    background-color: rgb(161, 136, 97);

}

body {
    padding-left: 5%; 
    padding-right: 5%; 
    background-color: rgb(199, 181, 157);
}

h2 {
    background-color: bisque;
    padding-left: 40%;
    padding-right: 40%;
    border-style: solid;
    border-radius: 0%;
    border-color: rgb(89, 71, 40);
}


ol {
    background-color: bisque;
    margin-left: 30%;
    margin-right: 30%;
    border-style: solid;
    border-radius: 0%;
    border-color: rgb(89, 71, 40);
}

footer {
    background-color: rgb(161, 136, 97);
}

p {
    padding-left: 40%;
    padding-right: 40%;
}

