header {
    background-color: rgb(98, 123, 73);
    padding-left: 3%;
    padding-right: 3%;
    margin-left: 0%;
    margin-right: 0;
}

body {
    padding-left: 5%; 
    padding-right: 5%; 
    background-color: rgb(199, 181, 157);
}

h2 {
    background-color: bisque;
    padding-left: 12px;
}


ol {
    background-color: bisque;
    margin-left: 30%;
    margin-right: 30%;
}

footer {
    background-color: rgb(57, 177, 213);
}